@charset "UTF-8" 
* { 
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to bottom, #A68C6D,#8C3D35);
}
main{
    width: 600px;
    box-shadow: 5px 5px 15px #5a2923;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin: auto;
}
h1{ color: #D97B59;
text-align: center;
text-shadow: 1px 1px 2px black;
}
h2{color: #592C28;

}
p{
    text-align: justify;
}